#map {
  width: 100vw;
  height: 100vh;
}

img[src*="/img/"] {
  border-radius: 50%;
}

/* カスタムHTMLコンテンツに対するスタイル */
#custom-marker-content {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
